n8n/Google Calendar Sync.json
{
  "name": "Google Calendar Sync",
  "nodes": [
    {
      "parameters": {
        "content": "## Before running this\n\n1. Create an **HTTP Header Auth** credential named `Webhook Secret`:\n   - Header Name: `X-Webhook-Secret`\n   - Header Value: same value as al-quotes' `WEBHOOK_SECRET` env var\n2. Assign that credential to: **Webhook**, **Callback: Linked**, **Callback: Unlinked**\n3. Replace the placeholder URL in **Callback: Linked** and **Callback: Unlinked** with your real al-quotes URL, e.g. `https://<your-al-quotes-domain>/webhooks/n8n/calendar-sync`\n4. Activate the workflow, copy the **production** webhook URL from the **Webhook** node, and set it as al-quotes' `CALENDAR_WEBHOOK_URL` env var\n\nHabit events get a default 1-hour block starting at the moment the workflow runs, repeating via RRULE \u2014 adjust the expression in **Insert Event** / **Patch Event** if you want a fixed time of day instead.",
        "height": 532,
        "width": 460
      },
      "id": "659fef60-fe9d-4a2d-aa25-b795e2755964",
      "name": "Read Me",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        -624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.action.includes('upserted') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6df17622-dfe3-4a30-89c9-e42fff3c6056",
      "name": "Is Upsert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -192,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const body = $input.item.json.body;\n\nlet start;\nlet end;\nif (body.entityType === 'task') {\n  start = body.task.startDate || body.task.dueDate;\n  end = body.task.dueDate || body.task.startDate;\n} else if (body.entityType === 'event') {\n  start = body.event.startAt;\n  end = body.event.endAt ?? body.event.startAt;\n} else {\n  start = new Date().toISOString();\n  end = new Date(Date.now() + 60 * 60 * 1000).toISOString();\n}\n\nfunction resolveTimeZone(dateTime) {\n  const match = /(Z|[+-]\\d{2}:\\d{2})$/.exec(dateTime || '');\n  if (!match) return 'UTC';\n  if (match[1] === 'Z') return 'Etc/UTC';\n\n  const [, sign, hh, mm] = /^([+-])(\\d{2}):(\\d{2})$/.exec(match[1]);\n  if (mm !== '00') return 'UTC';\n\n  const hours = parseInt(hh, 10);\n  if (hours === 0) return 'Etc/UTC';\n\n  // Etc/GMT signs are inverted by POSIX convention: +07:00 -> Etc/GMT-7\n  const invertedSign = sign === '+' ? '-' : '+';\n  return `Etc/GMT${invertedSign}${hours}`;\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    resolvedStart: start,\n    resolvedEnd: end,\n    resolvedTimeZone: resolveTimeZone(start),\n  },\n};\n"
      },
      "name": "Resolve Sync DateTime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "c7b61c7a-e9a2-4da7-ab26-d14babd65ee9",
      "position": [
        -64,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.body.googleEventId }}",
              "value2": true
            }
          ]
        }
      },
      "id": "5e1e6631-5ae5-471a-ab19-cd1ebeec2a41",
      "name": "Has Google Event Id?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $json.body.calendarId }}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.googleAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  summary: $json.body.entityType === 'task' ? $json.body.task.title : $json.body.entityType === 'event' ? $json.body.event.title : $json.body.habit.title,\n  description: $json.body.entityType === 'task' ? $json.body.task.description : $json.body.entityType === 'event' ? $json.body.event.description : $json.body.habit.description,\n  location: $json.body.entityType === 'event' ? $json.body.event.location : undefined,\n  start: {\n    dateTime: $json.resolvedStart,\n    timeZone: $json.resolvedTimeZone\n  },\n  end: {\n    dateTime: $json.resolvedEnd,\n    timeZone: $json.resolvedTimeZone\n  },\n  recurrence: $json.body.entityType === 'habit' ? [ $json.body.habit.rrule ] : ($json.body.entityType === 'event' && $json.body.event.isRecurring) ? [ $json.body.event.rrule ] : undefined\n} }}",
        "options": {}
      },
      "id": "33970951-7a77-428e-bc3a-9f108549f5e5",
      "name": "Insert Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        96
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $json.body.calendarId }}/events/{{ $json.body.googleEventId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.googleAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  summary: $json.body.entityType === 'task' ? $json.body.task.title : $json.body.entityType === 'event' ? $json.body.event.title : $json.body.habit.title,\n  description: $json.body.entityType === 'task' ? $json.body.task.description : $json.body.entityType === 'event' ? $json.body.event.description : $json.body.habit.description,\n  location: $json.body.entityType === 'event' ? $json.body.event.location : undefined,\n  start: {\n    dateTime: $json.resolvedStart,\n    timeZone: $json.resolvedTimeZone\n  },\n  end: {\n    dateTime: $json.resolvedEnd,\n    timeZone: $json.resolvedTimeZone\n  },\n  recurrence: $json.body.entityType === 'habit' ? [ $json.body.habit.rrule ] : ($json.body.entityType === 'event' && $json.body.event.isRecurring) ? [ $json.body.event.rrule ] : undefined\n} }}",
        "options": {}
      },
      "id": "5933c131-334f-48c8-8672-60a3a3a1587d",
      "name": "Patch Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -128
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $json.body.calendarId }}/events/{{ $json.body.googleEventId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.googleAccessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "787cbd80-e7d0-41ab-a21a-db5d14d38b29",
      "name": "Delete Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        384
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "continueOnFail=true: Google returns 404/410 if the event is already gone \u2014 that should still count as successfully unlinked, not a workflow failure."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quotes.serdadu.dev/webhooks/n8n/calendar-sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  action: 'linked',\n  entityType: $('Webhook').item.json.body.entityType,\n  entityId:   $('Webhook').item.json.body.entityId,\n  googleEventId: $json.id\n} }}",
        "options": {}
      },
      "id": "6d2d6e84-60c2-4fe4-8769-1784501c6f93",
      "name": "Callback: Linked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwfccwUa3AAAlh56",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quotes.serdadu.dev/webhooks/n8n/calendar-sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  action: 'unlinked',\n  entityType: $('Webhook').item.json.body.entityType,\n  entityId:   $('Webhook').item.json.body.entityId\n} }}",
        "options": {}
      },
      "id": "108bc849-a5ec-4a67-b2f4-37192a735551",
      "name": "Callback: Unlinked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwfccwUa3AAAlh56",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "c77bc742-a9b2-4771-a0a0-da553892240f",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        848,
        144
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-sync",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0fdc3fcc-9954-4cd1-b40d-536c37fc273b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -464,
        160
      ],
      "webhookId": "remindeen-calendar-sync",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jwfccwUa3AAAlh56",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Is Upsert?": {
      "main": [
        [
          {
            "node": "Resolve Sync DateTime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Google Event Id?": {
      "main": [
        [
          {
            "node": "Patch Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Event": {
      "main": [
        [
          {
            "node": "Callback: Linked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Event": {
      "main": [
        [
          {
            "node": "Callback: Linked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "main": [
        [
          {
            "node": "Callback: Unlinked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Linked": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Unlinked": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Upsert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Sync DateTime": {
      "main": [
        [
          {
            "node": "Has Google Event Id?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a20e6a1a-9246-4762-9539-2445ef871c23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79082acf71255b98a80331825292b423065c60246bb8eef9e99617f14cbc2a00"
  },
  "nodeGroups": [],
  "id": "S9DzbaUR2aOzbzeX",
  "tags": []
}